<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="edu.illinois.geosight" android:versionCode="1"
	android:versionName="1.0">


	<application android:icon="@drawable/icon" android:label="@string/app_name">
	
		<activity android:name=".GeoSight" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="GPSCameraActivity"></activity>
		<activity android:label="Map View" android:name=".maps.GoogleMapActivity"></activity>
		<activity android:name="SightListActivity" android:label="Select a Sight"></activity>
		
        <uses-library android:name="com.google.android.maps"/>
	</application>

	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_GPS" /> 
    
    
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
</manifest>